@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
        --main-bg: rgba(249,249,249,255);
}

body, html, p,
h1 {
        margin: 0;
        padding: 0;
}

body, html { 
        min-height: 100%;
        background-color: var(--main-bg);
}

.menu-footer {
        position: sticky;
        bottom: 0;
        width: 100%;
        height: 5rem;
        /* Keep header above top image */
        z-index: 2; 

        border-top: 1px solid #d3d3d3;
        background-color: var(--main-bg);
}

.home-header {
        position: sticky;
        top: 0;
        width: 100%;
        height: 5rem;
        /* Keep header above top image */
        z-index: 2; 

        border-bottom: 1px solid #d3d3d3;
        background-color: var(--main-bg);
}