@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
        --main-bg: rgba(249,249,249,255);
}

body, html, p,
h1 {
        margin: 0;
        padding: 0;
}

body, html {
        min-height: 100vh;
        background-color: var(--main-bg);
}

@media (pointer:none), (pointer:coarse) {
        .iPhoneTransform {
                transform: translateY(-33px);
        }
        .footerUntransform {
                transform: translateY(33px);
        }
        .iPhone {
                margin-bottom: 2rem;
        }
}
