.center-horizontal {
    display: flex;
    justify-content: center;
}

/* .speedee {
    font-family: Speedee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif
} */

.rewards-gradient{
    background: rgb(136,26,97);
    background: linear-gradient(180deg, rgba(136,26,97,1) 0%, rgba(164,32,53,1) 45%, rgba(188,40,30,1) 100%);
}

.promo-wrapper {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    z-index: 1;
    overflow: hidden;
    
    border-radius: 0.5rem;
}